<ion-segment color='primary'>
    <ion-segment-button  (click)="switch('questionbox')">Questions</ion-segment-button>
    <ion-segment-button  (click)="switch('exambox')">Exam</ion-segment-button>
    <ion-segment-button  (click)="switch('statistic')">Statistik</ion-segment-button>
</ion-segment>
<ion-grid [ngSwitch]="boxes">
    <div *ngSwitchCase="'questionbox'">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Question</ion-label>
                    <ion-textarea [(ngModel)]="ques"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Answer A</ion-label>
                    <ion-input [(ngModel)]="ansA" type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Answer B</ion-label>
                    <ion-input [(ngModel)]="ansB" type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Answer C</ion-label>
                    <ion-input [(ngModel)]="ansC" type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Answer D</ion-label>
                    <ion-input [(ngModel)]="ansD" type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-radio-group>
            <ion-item (ionSelect)="radioSelect($event)">
                <ion-label>Text</ion-label>
                <ion-radio name="text" value="text"></ion-radio>
            </ion-item>
            <ion-item (ionSelect)="radioSelect($event)">
                <ion-label>Noten</ion-label>
                <ion-radio name="sheet" value="sheet"></ion-radio>
            </ion-item>
            <ion-item (ionSelect)="radioSelect($event)">
                <ion-label>Mathe</ion-label>
                <ion-radio name="math" value="math"></ion-radio>
            </ion-item>
        </ion-radio-group>

        <ion-button color="primary" expand="block" (click)="saveQuestion()">Save</ion-button>
    </div>
    <ion-row *ngSwitchCase="'exambox'">
        <!--<ion-list id="exam-box">-->
        <ion-slides #examslider pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let question of questions">
                <div *ngIf="question.answertype == 'text'">
                    <ion-textarea readonly="true">{{question.question}}</ion-textarea>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerA)">{{question.answerA}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerB)">{{question.answerB}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerC)">{{question.answerC}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerD)">{{question.answerD}}
                    </ion-button>
                </div>
                <div *ngIf="question.answertype == 'sheet'" class="ion-margin-bottom">
                    <app-sheet [shValue]=question.question [id]="question.id"></app-sheet>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerA)">{{question.answerA}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerB)">{{question.answerB}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerC)">{{question.answerC}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerD)">{{question.answerD}}
                    </ion-button>
                    <!--<app-piano></app-piano>-->
                </div>
                <div *ngIf="question.answertype == 'math'">
                    <ion-item>
                        <app-math [mathQuestion]=question.question></app-math>
                    </ion-item>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerA)">{{question.answerA}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerB)">{{question.answerB}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerC)">{{question.answerC}}
                    </ion-button>
                    <ion-button
                            (click)="checkQuestion(question.question, question.answerD)">{{question.answerD}}
                    </ion-button>

                </div>

            </ion-slide>
            <ion-slide>
                <h4>Statistik anschauen?</h4>
                <ion-button (click)="sendToStatistic()">End</ion-button>
                <!--<ion-button [routerLink]="['/home/statistic']">Statistik füttern</ion-button>-->
                <ion-button (click)="sendToStatistic()">Statistik füttern</ion-button>


            </ion-slide>
        </ion-slides>
        <!--</ion-list>-->
    </ion-row>
     <app-statistics></app-statistics>

</ion-grid>
