<ul class="set">
    <li class="white c" (click)="pianoClick($event.target)"></li>
    <li class="black cs" (click)="pianoClick($event.target)"></li>
    <li class="white d" (click)="pianoClick($event.target)"></li>
    <li class="black ds" (click)="pianoClick($event.target)"></li>
    <li class="white e" (click)="pianoClick($event.target)"></li>
    <li class="white f" (click)="pianoClick($event.target)"></li>
    <li class="black fs" (click)="pianoClick($event.target)"></li>
    <li class="white g" (click)="pianoClick($event.target)"></li>
    <li class="black gs" (click)="pianoClick($event.target)"></li>
    <li class="white a" (click)="pianoClick($event.target)"></li>
    <li class="black as" (click)="pianoClick($event.target)"></li>
    <li class="white b" (click)="pianoClick($event.target)"></li>
</ul>


